<footer>
<div>
    <h1 class="logo"><span>The</span> <span>Jazz</span> <span>Pianists</span></h1>
    <p>&copy; 2025–{{ "now" | date: "%Y" }} jazzpianists.org.<br/>All rights reserved.</p>
</div>
<div>
    <div><a href="{% link index2.md %}">Home</a></div>
    <div><a href="{% link index2.md %}#timeline">Timeline</a></div>
    <div><a href="{% link directory.md %}">Directory</a></div>
    <div><a href="{% link about.md %}">About</a></div>
    <div><a href="https://github.com/legion80/jazzpianists-org">GitHub</a></div>
</div>
</footer>