<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    {%- if page.title -%}
        {%- assign page-title = page.title | strip_html | smartify | append:" &middot; " | append: site.title -%}
    {%- else -%}
        {%- assign page-title = site.title -%}
    {%- endif -%}
    <title>{{ page-title }}</title>

    {%- if page.meta-description -%}
    <meta name="description" content="{{ page.meta-description }}">
    {%- elsif page.excerpt -%}
    <meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 50 }}">
    {%- endif -%}
    <meta property="og:title" content="{{ page-title }}" />
    <meta property="og:type" content="{% if layout.og-type %}{{ layout.og-type }}{% elsif page.og-type %}{{ page.og-type }}{% else %}website{% endif %}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    {%- if page.meta-description -%}
    <meta property="og:description" content="{{ page.meta-description }}" />
    {%- elsif page.excerpt -%}
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords: 50 }}" />
    {%- endif -%}
    {%- if page.meta-image -%}
    <meta property="og:image" content="{{ site.assets-directory | append: page.meta-image | absolute_url }}" />
    {%- endif -%}
  
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.assets-directory | append: 'main.css' | relative_url }}">
    {%- if layout.custom-css -%}
        {%- if layout.custom-css[0] -%}
            {%- for css in layout.custom-css -%}
            <link rel="stylesheet" href="{{ site.assets-directory | append: css | append: '.css' | relative_url }}">
            {%- endfor -%}
        {%- else -%}
            <link rel="stylesheet" href="{{ site.assets-directory | append: layout.custom-css | append: '.css' | relative_url }}">
        {%- endif -%}
    {%- endif -%}
    {%- if page.custom-css -%}
        {%- if page.custom-css[0] -%}
            {%- for css in page.custom-css -%}
                <link rel="stylesheet" href="{{ site.assets-directory | append: css | append: '.css' | relative_url }}">
            {%- endfor -%}
        {%- else -%}
            <link rel="stylesheet" href="{{ site.assets-directory | append: page.custom-css | append: '.css' | relative_url }}">
        {%- endif -%}
    {%- endif -%}

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico?v=0' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png?v=0' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png?v=0' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png?v=0' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest?v=0' | relative_url }}">
    <link rel="mask-icon" href="{{ '/assets/favicon/safari-pinned-tab.svg?v=0' | relative_url }}" color="{{ site.data.website.colors.dark-color }}">
    <meta name="msapplication-TileColor" content="{{ site.data.website.colors.dark-color }}">
    <meta name="theme-color" content="{{ site.data.website.colors.dark-color }}">

    {%- if layout.custom-js -%}
        {%- if layout.custom-js[0] -%}
            {%- for js in layout.custom-js -%}
            <script src="{{ site.site-assets-directory | append: js | append: '.js' | relative_url }}"></script>
            {%- endfor -%}
        {%- else -%}
            <script src="{{ site.site-assets-directory | append: layout.custom-js | append: '.js' | relative_url }}"></script>
        {%- endif -%}
    {%- endif -%}
    {%- if page.custom-js -%}
        {%- if page.custom-js[0] -%}
            {%- for js in page.custom-js -%}
            <script src="{{ site.site-assets-directory | append: js | append: '.js' | relative_url }}"></script>
            {%- endfor -%}
        {%- else -%}
            <script src="{{ site.site-assets-directory | append: page.custom-js | append: '.js' | relative_url }}"></script>
        {%- endif -%}
    {%- endif -%}

    <script src="https://beamanalytics.b-cdn.net/beam.min.js" data-token="BEAM_TOKEN" async></script>
</head>
