{%- comment -%}
Outputs player embed for Apple and Spotify music services.

    pk - Primary Key, found in _data/tracks.csv

{%- endcomment -%}
{%- assign __track = site.data.tracks | find: "pk", include.pk -%}
{%- assign __person = site.people | find: "name", __track.artist %}
<div class="audio-player">
<div class="placeholder">
    <div>
        <h1>Listen</h1>
        <div class="title">{{ __track.title | smartify }} ({{ __track.year }})</div>
        <div class="artist">{%- if __person -%}{{ __person.title | smartify }}{%- else -%}{{ __track.artist | smartify }}{%- endif -%}</div>
        {%- unless __track.album.blank? -%}<div class="album">{{ __track.album }}</div>{%- endunless -%}
    </div>
    <hr/>
    <div>
        <h1>Choose web<br/>audio player</h1>
        <div class="player-choice">
            <a data-playertype="apple" onclick="playerClicked(this)">{%- include icons/apple-music.svg -%}</a>
            {%- if __track.spotify -%}<a data-playertype="spotify" onclick="playerClicked(this)">{%- include icons/spotify.svg -%}</a>{% endif -%}
        </div>
    </div>
</div>
<iframe class="apple" allow="autoplay *; encrypted-media *;" frameborder="0" style="overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/{{ __track.apple }}" loading="lazy"></iframe>
{%- if __track.spotify -%}
<iframe class="spotify" data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ __track.spotify }}?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{%- endif -%}
</div>