---
---
@use "base" as *;

$item-padding: .5rem;
section#directory {
    @include standard-block-behavior;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transform: translateX(-$item-padding);
    width: calc(100% + 2 * $item-padding);
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    line-height: $minimum-line-height;
    @include breakpoint(mobile) {
        grid-template-columns: 1fr;
    }
    gap-y: 2rem;
    .person {
        display: flex;
        align-items: flex-start;
        gap: .5rem;
    }
    .profile {
        flex-shrink: 0;
    }
    img {
        width: 5rem;
        aspect-ratio: 1;
        display: block;
        border-radius: 100%;
        filter: grayscale(100%);
        mix-blend-mode: multiply;
    }
    .details {
    }
    .name {
        display: block;
        margin-top: 0;
        margin-bottom: .5em;
        font-size: 1.3em;
        @include breakpoint(mobile) {
            font-size: 1.2em;
        }
    }
    a {
        display: block;
        border-radius: 20em;
        padding: $item-padding;
        transition: all $animation-duration;
        background-color: #{$light-color}88;
        &:link, &:active, &:visited {
            text-decoration: none;
            color: $text-color;
        }
        &:hover {
            background-color: #fff8;
            h2 {
                color: $brand-color-2;
            }
        }
    }
}

section#timeline {
    margin-bottom: 3rem;
    figure {
        display: grid;
        grid-template-columns: 2.5em 1fr [end];
        grid-auto-rows: 15px;
        gap: 1px 5px;
    }

    .years {
        display: grid;
        grid-column: 1 / end;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }
    .year {
        position: relative;
        grid-column: 1;
        display: block;
        line-height: 1;
        font-family: $heading-font;
        font-weight: 700;
        div {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-50%);
        }
    }
    .year-hr {
        width: 100%;
        grid-column: 2 / end;
        height: 1px;
        background-color: $dark-color;
        opacity: .1;
        transform: translateY(-1px);
        z-index: -10;
    }
    .people {
        display: grid;
        grid-column: 2 / end;
        grid-template-rows: subgrid;
        grid-template-columns: repeat(20, 1fr);
    }

    .person {
        position: relative;
        // display: grid;
        // grid-template-rows: subgrid;
        // padding-bottom: 1em;
        .background {
            width: 2px;
            background-color: $brand-color-2;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: -10;
            grid-column: 1;
        }
        .name {
            position: sticky;
            top: 2px;
            overflow: visible;
            white-space: nowrap;
            grid-column: 1;
            writing-mode: vertical-lr;
            color: $light-color;
            background-color: #{$brand-color-2};
            line-height: 1;
            padding: .4em .2em;
            border-radius: 0 .4em .4em 0;
            font-size: min(1em, 2.9vw);
        }
    }
}