---
---
@charset "utf-8";
@use "sass:math";
@use "base" as *;

body {
    background-color: var(--body-background-color);
}
main hgroup {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    background-color: var(--body-background-color);

    h1 {
        font-size: 4em;
    }
    h2 {
        font-family: $body-font;
        color: var(--body-text-color);
    }
    color: var(--body-text-color);
}
#intro {
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    > section {
        padding-bottom: 3rem;
    }
}
#intro-text {
    @include standard-block-behavior;
    h2 {
        color: var(--body-text-color);
        font-size: 2em;
        text-wrap: balance;
    }
    > div {
        h2 { color: var(--body-logo-color-2); margin-top: 2.5rem; }
        width: clamp(40%, 30em, 100%);
        &:nth-child(1) { margin-left: auto; margin-right: auto; }
        &:nth-child(2) { margin-right: auto; }
        &:nth-child(3) { margin-left: auto; p.image { text-align: right; }}
    }
    p.image {
        margin: 2.5rem 0;
    }
    img {
        max-width: clamp(20%, 25em, 100%);
        max-height: 60vh;
    }
}
#pianists-wall {
//    display: flex;
  //  flex-wrap: wrap;
    @include breakpoint(mid-desktop) {
        @include standard-block-behavior;
    }

    $num-columns-mid-desktop: 9;
    $num-columns-desktop: 7;
    $num-columns-tablet: 5;
    $num-columns-tiny: 3;
    $num-columns-headline-mid-desktop: math.max(2, math.floor(math.div($num-columns-mid-desktop, 2)));
    $num-columns-headline-desktop: math.max(2, math.floor(math.div($num-columns-desktop, 2)));
    $num-columns-headline-tablet: math.max(2, math.floor(math.div($num-columns-tablet, 2)));
    $num-columns-headline-tiny: math.max(2, math.floor(math.div($num-columns-tiny, 2)));

    .meet, .the-jazz, .pianists {
        display: flex;
        --num-columns: max(2, #{$num-columns-headline-desktop} + var(--additional-columns));
        --column-divisor: #{$num-columns-desktop};
        width: calc(100% / var(--column-divisor) * var(--num-columns));
        aspect-ratio: var(--num-columns) / var(--rows);
        @include breakpoint(mid-desktop) {
            --num-columns: max(2, #{$num-columns-headline-mid-desktop} + var(--additional-columns));
            --column-divisor: #{$num-columns-mid-desktop};
        }
        @include breakpoint(tablet) {
            --num-columns: max(2, #{$num-columns-headline-tablet} + var(--additional-columns));
            --column-divisor: #{$num-columns-tablet};
        }
        @include breakpoint(tiny) {
            --num-columns: max(2, #{$num-columns-headline-tiny} + var(--additional-columns));
            --column-divisor: #{$num-columns-tiny};
        }
        h2 {
            color: var(--body-logo-color-3);
            align-self: center;
            margin: 0;
            font-size: 2em;

            padding-left: $minimum-side-padding;
            padding-right: $minimum-side-padding;
            @include breakpoint(mobile) {
                padding-left: $minimum-mobile-side-padding;
                padding-right: $minimum-mobile-side-padding;
            }
        }
    }
    .meet {
        float: left;
        justify-content: flex-end;
        --additional-columns: 0;
        --rows: .99;
    }
    .the-jazz {
        float: right;
        --additional-columns: -1;
        @include breakpoint(tiny) {
            --additional-columns: 0;
        }
        --rows: .99;
    }
    .pianists {
        float: left;
        --additional-columns: -1;
        --rows: .99;
    }

    img {
        display: inline-block;
        vertical-align: bottom;
        width: calc(100% / $num-columns-desktop);
        @include breakpoint(mid-desktop) { width: calc(100% / $num-columns-mid-desktop); }
        @include breakpoint(tablet) { width: calc(100% / $num-columns-tablet); }
        @include breakpoint(tiny) { width: calc(100% / $num-columns-tiny); }
        filter: grayscale(100%);
        mix-blend-mode: screen;
        &:first-of-type { border-top-left-radius: 50%; }
        &:last-child { border-bottom-right-radius: 50%; }
    }
}

#timeline {
    clear: both;
    figure {
        $desktop-font-size: 3em;
        $tablet-font-size: 2.5em;
        $mobile-font-size: 2em;

        display: grid;
        grid-template-columns: $minimum-side-padding calc($minimum-side-padding + $desktop-font-size) 1fr [content-end] $minimum-side-padding [end];
        @include breakpoint(wide-desktop) {
            grid-template-columns: $minimum-side-padding calc($minimum-side-padding + $desktop-font-size) 1fr [content-end] calc($minimum-side-padding + $desktop-font-size) $minimum-side-padding [end];
        }
        @include breakpoint(tablet) {
            grid-template-columns: $minimum-side-padding calc($minimum-side-padding + $tablet-font-size) 1fr [content-end] $minimum-side-padding [end];
        }
        @include breakpoint(mobile) {
            grid-template-columns: $minimum-mobile-side-padding calc($minimum-mobile-side-padding + $mobile-font-size) 1fr [content-end] $minimum-mobile-side-padding [end];
        }
        .decade {
            position: relative;
            grid-column: 2;
            font-family: $heading-font;
            font-weight: 600;
            line-height: 1;
            padding-top: 3rem;
            padding-bottom: 1.5em;
            mix-blend-mode: screen;
            color: $background-color;
            span {
                display: inline-block;
                transform: translateX(-100%) rotate(-90deg);
                transform-origin: top right;
                position: sticky;
                top: 3rem;
            }
            z-index: 2;

            font-size: $desktop-font-size;
            @include breakpoint(tablet) {
                font-size: $tablet-font-size;
            }
            @include breakpoint(mobile) {
                font-size: $mobile-font-size;
            }
        }
        .genre {
            z-index: 1;
            position: relative;
            grid-column: 3 / end;
            display: grid;
            grid-template-columns: subgrid;
            padding-bottom: 2rem;
            min-height: calc(100vh - 6rem);

            background: $background-color;
            @include breakpoint(mid-desktop) {
                background: linear-gradient(to right, #{$background-color}ff 57%, #{$background-color}88);
                backdrop-filter: blur(10px);
            }
            border-radius: 3rem 0 0 3rem;
            padding: 2rem;
            padding-right: $minimum-side-padding;
            @include breakpoint(mobile) {
                border-radius: 1rem 0 0 1rem;
                padding-left: $minimum-mobile-side-padding;
                padding-right: $minimum-mobile-side-padding;
            }
            margin-top: 3rem;
            margin-bottom: 3rem;

            h2 {
                margin-top: 0;
                font-size: 2.5em;
                text-align: center;
                @include breakpoint(mid-desktop) {
                    text-align: left;
                }
            }

            .content {
                display: grid;
                gap: 2rem;
                grid-template-columns: 1fr;
                > div:nth-child(1) { order: 2; }
                > div:nth-child(2) { order: 1; }
                @include breakpoint(mid-desktop) {
                    grid-template-columns: 6fr 5fr;
                    > div:nth-child(1) { order: 1; }
                    > div:nth-child(2) { order: 2; }
                }

                p:first-child {
                    margin-block-start: 0;
                }
            }
        }
    }
    .genre-background-container {
        grid-column: 1 / end;
    }
    .content-container {
         position: relative;
         display: grid;
         grid-template-rows: subgrid;
         grid-template-columns: subgrid;
         grid-column: 1 / end;
    }
    .genre-background {
        position: sticky;
        top: -10vh;
        height: 110vh;
    }
}

.pianist-list {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-evenly;
    align-content: flex-start;
    > div {
        width: min(11rem, 45%);
    }
}