---
---
@charset "utf-8";
@use "base" as *;

/// FONT-FACE DEFINITIONS HERE
@font-face {
    font-family: 'Besley';
    src: url({{ "/assets/fonts/Besley[wdth,wght].ttf" | relative_url }}) format("truetype");
}
@font-face {
    font-family: 'Besley';
    font-style: italic;
    src: url({{ "/assets/fonts/Besley-Italic[wdth,wght].ttf" | relative_url }}) format("truetype");
}
@font-face {
    font-family: 'LibreFranklin';
    src: url({{ "/assets/fonts/LibreFranklin-VariableFont_wght.ttf" | relative_url }}) format("truetype");
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: italic;
    src: url({{ "/assets/fonts/LibreFranklin-Italic-VariableFont_wght.ttf" | relative_url }}) format("truetype");
}

:root {
    font-family: $body-font;
    font-size: 18px;
    @include breakpoint(tablet) {
        font-size: 17px;
    }
    @include breakpoint(mobile) {
        font-size: 16px;
    }
    @include breakpoint(mid-desktop) {
        font-size: 21px;
    }
    @include breakpoint(wide-desktop) {
        font-size: 24px;
    }
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-synthesis: none;
}

body {
    background-color: $background-color;
    color: $text-color;
    line-height: $standard-line-height;

    --body-background-color: #0C0D0C;
    --body-text-color: #F2DCE4;
    --body-logo-color-1: #F2DCE4;
    --body-logo-color-2: #BF4124;
    --body-logo-color-3: #59324C;
}

:is(h1,h2,h3,h4,h5,h6) {
    font-family: $heading-font;
    font-weight: 500;
    font-stretch: 100%;
    line-height: $header-line-height;
    margin-top: 2.5rem;
    margin-bottom: 1rem;

    + :is(h1,h2,h3,h4,h5,h6) {
        margin-top: 1rem;
    }

    b, strong {
        font-weight: 700;
    }
}
h1, h2 { letter-spacing: -.02em; }
h3, h4 { letter-spacing: 0; }
h5, h6 { letter-spacing: .05em; }

a {
    text-underline-offset: .3em;
    transition: all $animation-duration;
    &:link, &:active, &:visited {
        color: $link-color;
    }
    &:hover {
        color: $link-color-hover;
    }
}

body > header {
    display: flex;
    padding: 1rem $minimum-side-padding;
    @include breakpoint(mobile) {
        padding-left: $minimum-mobile-side-padding;
        padding-right: $minimum-mobile-side-padding;
    }
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }
    a {
        transition: color $animation-duration, text-decoration-color $animation-duration;
        &:link, &:active, &:visited {
            text-decoration: underline;
            text-underline-offset: .3em;
        }
    }
    li a {
        &:hover {
            color: $brand-color;
            text-decoration-color: $brand-color;
        }
    }
    #logo {
        font-size: 1.1em;
        font-weight: 500;

        .ampersand {
            color: var(--brand-color);
        }
    }
}


h1.logo {
    text-transform: lowercase;
    font-weight: 700;
    line-height: .9;
    margin: 0;
    span {
        display: block;
        &:nth-child(1) { padding-left: .5em; }
        &:nth-child(2) { padding-left: 1.5em; }
        &:nth-child(3) { padding-left: 0;}
        &:nth-child(1) { color: var(--body-logo-color-1); }
        &:nth-child(2) { color: var(--body-logo-color-2); }
        &:nth-child(3) { color: var(--body-logo-color-3); }
    }
}
footer {
    @include standard-block-behavior;
    padding-top: 3rem;
    padding-bottom: 1.5rem;

    font-size: .9em;
    text-align: left;
    background-color: var(--body-background-color);
    color: var(--body-text-color);

    display: flex;
    justify-content: center;
    gap: 5rem;
    > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 15em;

        p {
            color: color-mix(in lch, var(--body-text-color), var(--body-background-color));
            font-size: .9em;
            text-align: center;
            line-height: $minimum-line-height;
        }
    }
    > div:last-child {
        min-width: 15em;
        line-height: $standard-line-height * 1.5;
    }


    a {
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .05em;
        &:link, &:active, &:visited {
            color: $light-color;
        }
        &:hover {
            color: color-mix(in lch, $light-color, white);
            letter-spacing: .1em;
        }
    }
}