@font-face {
  font-family: "Besley";
  src: url(/assets/fonts/Besley%5Bwdth,wght%5D.ttf) format("truetype");
}
@font-face {
  font-family: "Besley";
  font-style: italic;
  src: url(/assets/fonts/Besley-Italic%5Bwdth,wght%5D.ttf) format("truetype");
}
@font-face {
  font-family: "LibreFranklin";
  src: url(/assets/fonts/LibreFranklin-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "LibreFranklin";
  font-style: italic;
  src: url(/assets/fonts/LibreFranklin-Italic-VariableFont_wght.ttf) format("truetype");
}
:root {
  font-family: LibreFranklin, Helvetica, sans-serif;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  :root {
    font-size: 17px;
  }
}
@media only screen and (max-width: 670px) {
  :root {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1080px) {
  :root {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1440px) {
  :root {
    font-size: 24px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-synthesis: none;
  box-sizing: border-box;
}

body {
  background-color: #f2e7dc;
  color: #120c07;
  line-height: 1.7;
  --body-background-color: #0C0D0C;
  --body-text-color: #F2DCE4;
  --body-logo-color-1: #F2DCE4;
  --body-logo-color-2: #BF4124;
  --body-logo-color-3: #59324C;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: Besley, Times, serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #73403c;
}
:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1rem;
}
:is(h1, h2, h3, h4, h5, h6) b, :is(h1, h2, h3, h4, h5, h6) strong {
  font-weight: 700;
}

h1, h2 {
  letter-spacing: -0.02em;
}

h3, h4 {
  letter-spacing: 0;
}

h5, h6 {
  letter-spacing: 0.05em;
}

a {
  text-underline-offset: 0.3em;
  transition: all 200ms;
}
a:link, a:active, a:visited {
  color: #73403c;
}
a:hover {
  color: #0A85B2;
}

body > header {
  display: flex;
  padding: 1rem calc(1.5rem + env(safe-area-inset-left));
}
@media only screen and (max-width: 670px) {
  body > header {
    padding-left: calc(0.75rem + env(safe-area-inset-left));
    padding-right: calc(0.75rem + env(safe-area-inset-left));
  }
}
body > header {
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}
body > header a:link, body > header a:active, body > header a:visited {
  text-decoration: none;
}
body > header h1.logo {
  font-size: 1.5rem;
}
body > header h1.logo span {
  color: inherit !important;
}

h1.logo {
  text-transform: lowercase;
  line-height: 0.9;
  margin: 0;
}
h1.logo span {
  display: block;
}
h1.logo span:nth-child(1) {
  padding-left: 0.5em;
}
h1.logo span:nth-child(2) {
  padding-left: 1.5em;
}
h1.logo span:nth-child(3) {
  padding-left: 0;
}
h1.logo span:nth-child(1) {
  color: var(--body-logo-color-1);
}
h1.logo span:nth-child(2) {
  color: var(--body-logo-color-2);
}
h1.logo span:nth-child(3) {
  color: var(--body-logo-color-3);
}

footer {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  font-size: 0.9em;
  text-align: left;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  display: flex;
  justify-content: center;
  gap: min(5rem, 8vw);
}
footer > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 15em;
}
@media only screen and (max-width: 670px) {
  footer > div:first-child {
    max-width: 9em;
  }
}
footer > div:first-child p {
  color: color-mix(in lch, var(--body-text-color), var(--body-background-color));
  font-size: 0.9em;
  text-align: center;
  line-height: 1.4;
}
footer > div:last-child {
  min-width: 15em;
}
@media only screen and (max-width: 670px) {
  footer > div:last-child {
    min-width: min(11em, 30vw);
  }
}
footer > div:last-child {
  line-height: 2.55;
}
footer a {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
}
footer a:link, footer a:active, footer a:visited {
  color: #f2e7dc;
}
footer a:hover {
  color: color-mix(in lch, #f2e7dc, white);
  letter-spacing: 0.1em;
}

p, ul, ol {
  margin-block-start: 1em;
}

li {
  margin-left: 1rem;
}

.music-example {
  mix-blend-mode: multiply;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.person-link {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.person-link img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
  filter: grayscale(100%);
}
.person-link {
  font-family: Besley, Times, serif;
  font-weight: 700;
  font-size: 1.25em;
}
@media only screen and (max-width: 670px) {
  .person-link {
    font-size: 1.2em;
  }
}
.person-link {
  gap: 0.5rem;
  text-decoration: none;
  border-radius: 2rem;
  padding: 0.7rem;
  line-height: 1.4;
}

a.person-link {
  cursor: pointer;
}
a.person-link:hover {
  background-color: #f2e7dc;
}
a.person-link:hover img {
  mix-blend-mode: multiply;
}

iframe.youtube-video {
  display: block;
  width: min(100%, 560px);
  aspect-ratio: 1.778;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: auto;
  margin-right: auto;
}

.audio-player {
  position: relative;
  width: min(500px, 100%);
  height: 152px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}
.audio-player .placeholder {
  border-radius: 12px;
  background-color: #73403c11;
  display: block;
  line-height: 1.2;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px;
  gap: 10px;
}
@media only screen and (max-width: 350px) {
  .audio-player .placeholder {
    flex-direction: column;
    font-size: 0.8em;
    gap: 2px;
  }
}
.audio-player .placeholder > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}
@media only screen and (max-width: 350px) {
  .audio-player .placeholder > div:last-child {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}
.audio-player .placeholder > div:last-child h1 {
  text-align: center;
}
@media only screen and (max-width: 350px) {
  .audio-player .placeholder > div:last-child h1 {
    text-align: left;
  }
}
.audio-player .placeholder h1 {
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}
.audio-player .placeholder .title {
  font-weight: bold;
}
.audio-player .placeholder .album {
  margin-top: 0.5em;
  font-size: 0.9em;
  font-style: italic;
}
.audio-player .placeholder hr {
  width: 1px;
  height: 100%;
  appearance: none;
  border: 0;
  border-right: 1px solid #73403c;
}
@media only screen and (max-width: 350px) {
  .audio-player .placeholder hr {
    border: 0;
    width: 0;
    height: 0;
  }
}
.audio-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.audio-player.audio-player.apple .placeholder, .audio-player.audio-player.spotify .placeholder {
  display: none;
}
.audio-player.audio-player.apple .apple {
  display: block;
}
.audio-player.audio-player.spotify .spotify {
  display: block;
}
.audio-player .player-choice {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5em;
}
.audio-player .player-choice a {
  display: block;
  cursor: pointer;
}
.audio-player .player-choice a svg {
  display: block;
  width: 50px;
}
@media only screen and (max-width: 350px) {
  .audio-player .player-choice a svg {
    width: 40px;
  }
}
.audio-player .player-choice a svg {
  fill: #73403c;
  aspect-ratio: 1;
  transition: all 200ms;
}
.audio-player .player-choice a:hover svg {
  fill: #0A85B2;
  transform: scale(1.1);
}

.discogs img {
  display: block;
  width: min(10em, 100%);
}

/*# sourceMappingURL=main.css.map */