@font-face {
  font-family: "Besley";
  src: url(/assets/fonts/Besley%5Bwdth,wght%5D.ttf) format("truetype");
}
@font-face {
  font-family: "Besley";
  font-style: italic;
  src: url(/assets/fonts/Besley-Italic%5Bwdth,wght%5D.ttf) format("truetype");
}
@font-face {
  font-family: "LibreFranklin";
  src: url(/assets/fonts/LibreFranklin-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "LibreFranklin";
  font-style: italic;
  src: url(/assets/fonts/LibreFranklin-Italic-VariableFont_wght.ttf) format("truetype");
}
:root {
  font-family: LibreFranklin, Helvetica, sans-serif;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  :root {
    font-size: 17px;
  }
}
@media only screen and (max-width: 670px) {
  :root {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1080px) {
  :root {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1440px) {
  :root {
    font-size: 24px;
  }
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-synthesis: none;
}

body {
  background-color: #f2e7dc;
  color: #73403c;
  line-height: 1.7;
  --body-background-color: #0C0D0C;
  --body-text-color: #F2DCE4;
  --body-logo-color-1: #F2DCE4;
  --body-logo-color-2: #BF4124;
  --body-logo-color-3: #59324C;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: Besley, Times, serif;
  font-weight: 500;
  font-stretch: 100%;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1rem;
}
:is(h1, h2, h3, h4, h5, h6) b, :is(h1, h2, h3, h4, h5, h6) strong {
  font-weight: 700;
}

h1, h2 {
  letter-spacing: -0.02em;
}

h3, h4 {
  letter-spacing: 0;
}

h5, h6 {
  letter-spacing: 0.05em;
}

a {
  text-underline-offset: 0.3em;
  transition: all 100ms;
}
a:link, a:active, a:visited {
  color: #73403c;
}
a:hover {
  color: #0A85B2;
}

body > header {
  display: flex;
  padding: 1rem calc(1.5rem + env(safe-area-inset-left));
}
@media only screen and (max-width: 670px) {
  body > header {
    padding-left: calc(0.75rem + env(safe-area-inset-left));
    padding-right: calc(0.75rem + env(safe-area-inset-left));
  }
}
body > header {
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}
body > header ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
body > header a {
  transition: color 100ms, text-decoration-color 100ms;
}
body > header a:link, body > header a:active, body > header a:visited {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
body > header li a:hover {
  color: #73403c;
  text-decoration-color: #73403c;
}
body > header #logo {
  font-size: 1.1em;
  font-weight: 500;
}
body > header #logo .ampersand {
  color: var(--brand-color);
}

h1.logo {
  text-transform: lowercase;
  font-weight: 700;
  line-height: 0.9;
  margin: 0;
}
h1.logo span {
  display: block;
}
h1.logo span:nth-child(1) {
  padding-left: 0.5em;
}
h1.logo span:nth-child(2) {
  padding-left: 1.5em;
}
h1.logo span:nth-child(3) {
  padding-left: 0;
}
h1.logo span:nth-child(1) {
  color: var(--body-logo-color-1);
}
h1.logo span:nth-child(2) {
  color: var(--body-logo-color-2);
}
h1.logo span:nth-child(3) {
  color: var(--body-logo-color-3);
}

footer {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.5rem + env(safe-area-inset-left));
  padding-right: calc(1.5rem + env(safe-area-inset-left));
}
@media only screen and (max-width: 670px) {
  footer {
    padding-left: calc(0.75rem + env(safe-area-inset-left));
    padding-right: calc(0.75rem + env(safe-area-inset-left));
  }
}
footer {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  font-size: 0.9em;
  text-align: left;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  display: flex;
  justify-content: center;
  gap: min(5rem, 8vw);
}
footer > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 15em;
}
@media only screen and (max-width: 670px) {
  footer > div:first-child {
    max-width: 9em;
  }
}
footer > div:first-child p {
  color: color-mix(in lch, var(--body-text-color), var(--body-background-color));
  font-size: 0.9em;
  text-align: center;
  line-height: 1.4;
}
footer > div:last-child {
  min-width: 15em;
}
@media only screen and (max-width: 670px) {
  footer > div:last-child {
    min-width: min(11em, 30vw);
  }
}
footer > div:last-child {
  line-height: 2.55;
}
footer a {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
}
footer a:link, footer a:active, footer a:visited {
  color: #f2e7dc;
}
footer a:hover {
  color: color-mix(in lch, #f2e7dc, white);
  letter-spacing: 0.1em;
}

a.person-link {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
a.person-link img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}
a.person-link {
  font-size: 1.2em;
  gap: 0.5em;
}

/*# sourceMappingURL=main.css.map */