---
---
@charset "utf-8";
@use "base" as *;

/// FONT-FACE DEFINITIONS HERE
@font-face {
    font-family: 'Besley';
    src: url({{ "/assets/fonts/Besley[wdth,wght].ttf" | relative_url }}) format("truetype");
}
@font-face {
    font-family: 'Besley';
    font-style: italic;
    src: url({{ "/assets/fonts/Besley-Italic[wdth,wght].ttf" | relative_url }}) format("truetype");
}
@font-face {
    font-family: 'LibreFranklin';
    src: url({{ "/assets/fonts/LibreFranklin-VariableFont_wght.ttf" | relative_url }}) format("truetype");
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: italic;
    src: url({{ "/assets/fonts/LibreFranklin-Italic-VariableFont_wght.ttf" | relative_url }}) format("truetype");
}

:root {
    font-family: $body-font;
    font-size: 18px;
    @include breakpoint(tablet) {
        font-size: 17px;
    }
    @include breakpoint(mobile) {
        font-size: 16px;
    }
    @include breakpoint(mid-desktop) {
        font-size: 21px;
    }
    @include breakpoint(wide-desktop) {
        font-size: 24px;
    }
}

* {
    margin: 0;
    padding: 0;
    font-synthesis: none;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $text-color;
    line-height: $standard-line-height;

    --body-background-color: #0C0D0C;
    --body-text-color: #F2DCE4;
    --body-logo-color-1: #F2DCE4;
    --body-logo-color-2: #BF4124;
    --body-logo-color-3: #59324C;
}

:is(h1,h2,h3,h4,h5,h6) {
    font-family: $heading-font;
    font-weight: 700;
    line-height: $header-line-height;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: $brand-color;

    + :is(h1,h2,h3,h4,h5,h6) {
        margin-top: 1rem;
    }

    b, strong {
        font-weight: 700;
    }
}
h1, h2 { letter-spacing: -.02em; }
h3, h4 { letter-spacing: 0; }
h5, h6 { letter-spacing: .05em; }

a {
    text-underline-offset: .3em;
    transition: all $animation-duration;
    &:link, &:active, &:visited {
        color: $link-color;
    }
    &:hover {
        color: $link-color-hover;
    }
}

body > header {
    display: flex;
    padding: 1rem $minimum-side-padding;
    @include breakpoint(mobile) {
        padding-left: $minimum-mobile-side-padding;
        padding-right: $minimum-mobile-side-padding;
    }
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    a {
        &:link, &:active, &:visited {
            text-decoration: none;
        }
    }

    h1.logo {
        font-size: 1.5rem;
        span { color: inherit !important; }
    }
}


h1.logo {
    text-transform: lowercase;
    line-height: .9;
    margin: 0;
    span {
        display: block;
        &:nth-child(1) { padding-left: .5em; }
        &:nth-child(2) { padding-left: 1.5em; }
        &:nth-child(3) { padding-left: 0;}
        &:nth-child(1) { color: var(--body-logo-color-1); }
        &:nth-child(2) { color: var(--body-logo-color-2); }
        &:nth-child(3) { color: var(--body-logo-color-3); }
    }
}
footer {
    padding-top: 3rem;
    padding-bottom: 1.5rem;

    font-size: .9em;
    text-align: left;
    background-color: var(--body-background-color);
    color: var(--body-text-color);

    display: flex;
    justify-content: center;
    gap: min(5rem, 8vw);
    > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 15em;
        @include breakpoint(mobile) {
            max-width: 9em;
        }

        p {
            color: color-mix(in lch, var(--body-text-color), var(--body-background-color));
            font-size: .9em;
            text-align: center;
            line-height: $minimum-line-height;
        }
    }
    > div:last-child {
        min-width: 15em;
        @include breakpoint(mobile) {
            min-width: min(11em, 30vw);
        }
        line-height: $standard-line-height * 1.5;
    }


    a {
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .05em;
        &:link, &:active, &:visited {
            color: $light-color;
        }
        &:hover {
            color: color-mix(in lch, $light-color, white);
            letter-spacing: .1em;
        }
    }
}

p, ul, ol {
    margin-block-start: 1em;
}
li {
    margin-left: 1rem;
}

///////////////
.music-example {
    mix-blend-mode: multiply;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.person-link {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    // width: 10rem;
    // @include breakpoint(tablet) {
    //     width: 8rem;
    // }
    img {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
        filter: grayscale(100%);
    }
    font-family: $heading-font;
    font-weight: 700;
    font-size: 1.25em;
    @include breakpoint(mobile) {
        font-size: 1.2em;
    }
    gap: .5rem;
    text-decoration: none;
    border-radius: 2rem;
    padding: .7rem;
    line-height: $minimum-line-height;
}
a.person-link {
    cursor: pointer;
    &:hover { background-color: $background-color;
        img {
            mix-blend-mode: multiply;
        }
    }
}

iframe.youtube-video {
    display: block;
    width: min(100%, 560px);
    aspect-ratio: 1.778;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: auto;
    margin-right: auto;
}

.audio-player {
    position: relative;
    width: min(500px, 100%);
    height: 152px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    .placeholder {
        border-radius: 12px;
        background-color: #{$brand-color}11;
        display: block;
        line-height: $header-line-height;
        width: 100%; height: 100%;
        display: flex;
        padding: 15px;
        gap: 10px;
        @include breakpoint(tiny) {
            flex-direction: column;
            font-size: .8em;
            gap: 2px;
        }
        > div {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 50%;

            &:last-child {
                @include breakpoint(tiny) {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                }
                h1 {
                    text-align: center;
                    @include breakpoint(tiny) {
                        text-align: left;
                    }
                }
            }
        }
        h1 {
            text-transform: uppercase;
            font-size: .8em;
            margin: 0;
            letter-spacing: .1em;
            margin-bottom: .5em;
        }
        .title {
            font-weight: bold;
        }
        .album {
            margin-top: .5em;
            font-size: .9em;
            font-style: italic;
        }
        hr {
            width: 1px;
            height: 100%;
            appearance: none;
            border: 0;
            border-right: 1px solid $brand-color;
            @include breakpoint(tiny) {
                border: 0;
                width: 0;
                height: 0;
            }
        }
    }
    iframe {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        display: none;
    }
    &.audio-player.apple .placeholder,
    &.audio-player.spotify .placeholder {
        display: none;
    }
    &.audio-player.apple .apple {
        display: block;
    }
    &.audio-player.spotify .spotify {
        display: block;
    }
    .player-choice {
        display: flex;
        justify-content: space-around;
        padding-top: .5em;
        flex-grow: 1;
        a {
            display: block;
            cursor: pointer;
            svg {
                display: block;
                width: 50px;
                @include breakpoint(tiny) {
                    width: 40px;
                }
                fill: $brand-color;
                aspect-ratio: 1;
                transition: all $animation-duration;
            }
            &:hover svg {
                fill: $brand-color-2;
                transform: scale(1.1);
            }
        }
    }
}

.discogs {
    img { display: block; width: min(10em, 100%); }
}