---
---
@import "base";

main {
    #title {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    > * {
        @include standard-block-behavior;
    }
    p, ul, ol, table {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        line-height: $minimum-line-height;
    }
    h5, h6 {
        letter-spacing: .05em;
    }

    > ul, > ol {
        padding-left: minimum-side-padding-with-addition($list-padding-left);
    }

    ul, ol {
        ul, ol {
            padding-left: $list-padding-left;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    img {
        max-width: 100%;
    }

    table {
        border-collapse: collapse;
    }
    th, td {
        border: .5px solid var(--background-color-dark-theme);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    blockquote {
        padding-left: minimum-side-padding-with-addition(3rem);
        font-style: italic;
    }

    hr {
        border-top-color: var(--background-color-dark-theme);
        border-top-style: solid;
        border-width: .5px 0 0 0;
    }

    pre {
        overflow: scroll;
    }
}