---
---
@use "base" as *;

body > header {
    position: absolute;
    top: 0;
    mix-blend-mode: plus-lighter;
    z-index: 1;
}

main {
    :is(h1,h2,h3) {
        clear: right;
    }
}

@keyframes fade-recede {
    0% {
        transform: scale(1.2);
        transform-origin: top center;
        filter: blur(0);
    }
    30% {
        filter: blur(0);
    }
    100% {
        transform: scale(1) translateY(-50%);
        filter: blur(10px);
    }
}

#feature {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: min(120vw, 100vh);
    overflow: hidden;
    pointer-events: none;
    z-index: -1;

    .hero-image {
        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: 1;
        animation: fade-recede linear forwards;
        animation-timeline: scroll(root);
        animation-range: 0 100vh;
    }
}

main hgroup {
    height: min(120vw, 100vh);
    position: relative;
    background: linear-gradient(to bottom, #{$background-color}00 50%, #{$background-color}90 65%, $background-color);
    text-align: center;

    div {
        @include standard-block-behavior;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        @include breakpoint(mobile) {
            top: 80vw;
            bottom: initial;
        }
    }

    h1 {
        line-height: $minimum-line-height;
        font-size: 2.5em;
        span {
            display: block;
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 0;
        }
    }
    h2 {
        font-family: $body-font;
        margin-bottom: 3rem;
        text-wrap: balance;
    }
}

.article-container {
    background-color: $background-color;
    padding-bottom: 3rem;
}
article, .footnotes {
    @include standard-block-behavior;
    padding-top: 1rem;
}
article:has(+ .footnotes) {
    padding-bottom: 0rem;
}
.footnotes {
    font-size: .8em;
}

#influence-graph {
    overflow: scroll;
    .graph-container {
        position: relative;
    }

    .graph-layout {
        position: relative;
        display: grid;
        grid-template-columns: $minimum-side-padding [left] 1fr 2em [center] 1fr 2em [right] 1fr $minimum-side-padding;
        align-items: center;
    }

    .graph-svg {
        grid-column: 1 / 8;
        grid-row: 1 / 2;
        pointer-events: none;
        width: 100%;
        height: 100%;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: .5em;
        min-width: 12em;
        grid-row-start: 1;
    }

    .left { grid-column: 2; }
    .center { grid-column: 4; }
    .right { grid-column: 6; }
    .center .person-link {
        img {
            width: 7rem;
        }
    }
    .left .person-link, .right .person-link {
        $padding: .2rem;
        display: flex;
        flex-direction: row;
        font-size: 1em;
        height: 4rem + 2 * $padding;
        img { width: 4rem; }
        img + span { padding: 0 .5rem; text-align: left; }
        span:first-child {
            margin-left: auto;
            margin-right: auto;
            text-wrap: balance;
        }
        border: 1px solid $brand-color;
        padding: $padding;
        border-radius: 10rem;
        gap: 0;
    }
}

#quotes {
    font-family: $heading-font;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    blockquote {
       font-size: 1.5em;
    }
    max-width: calc(min(100%, #{$default-max-content-width}) * 2 / 3);
}

.audio-player {
    margin-left: unset;
    margin-right: unset;
}

figure.image {
    display: flex;
    flex-direction: column;
    gap: .5em;
    max-width: 30vw;
    margin-block-start: 1em;
    margin-block-end: 1em;
    img {
        max-height: 30vw;
        object-fit: contain;
        display: block;
    }
    margin-left: 2em;
    margin-bottom: 2em;
    clear: right;
    float: right;
    figcaption {
        font-size: .8em;
        min-width: 15em;
    }
}