body > header {
  position: absolute;
  top: 0;
  mix-blend-mode: plus-lighter;
  z-index: 1;
}

main :is(h1, h2, h3) {
  clear: right;
}

@keyframes fade-recede {
  0% {
    transform: scale(1.2);
    transform-origin: top center;
    filter: blur(0);
  }
  30% {
    filter: blur(0);
  }
  100% {
    transform: scale(1) translateY(-50%);
    filter: blur(10px);
  }
}
#feature {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: min(120vw, 100vh);
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
#feature .hero-image {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 1;
  animation: fade-recede linear forwards;
  animation-timeline: scroll(root);
  animation-range: 0 100vh;
}

main hgroup {
  height: min(120vw, 100vh);
  position: relative;
  background: linear-gradient(to bottom, #f2e7dc00 50%, #f2e7dc90 65%, #f2e7dc);
  text-align: center;
}
main hgroup div {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.5rem + env(safe-area-inset-left));
  padding-right: calc(1.5rem + env(safe-area-inset-left));
}
@media only screen and (max-width: 670px) {
  main hgroup div {
    padding-left: calc(0.75rem + env(safe-area-inset-left));
    padding-right: calc(0.75rem + env(safe-area-inset-left));
  }
}
main hgroup div {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 670px) {
  main hgroup div {
    top: 80vw;
    bottom: initial;
  }
}
main hgroup h1 {
  line-height: 1.4;
  font-size: 2.5em;
}
main hgroup h1 span {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0;
}
main hgroup h2 {
  font-family: LibreFranklin, Helvetica, sans-serif;
  margin-bottom: 3rem;
  text-wrap: balance;
}

.article-container {
  background-color: #f2e7dc;
  padding-bottom: 3rem;
}

article, .footnotes {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.5rem + env(safe-area-inset-left));
  padding-right: calc(1.5rem + env(safe-area-inset-left));
}
@media only screen and (max-width: 670px) {
  article, .footnotes {
    padding-left: calc(0.75rem + env(safe-area-inset-left));
    padding-right: calc(0.75rem + env(safe-area-inset-left));
  }
}
article, .footnotes {
  padding-top: 1rem;
}

article:has(+ .footnotes) {
  padding-bottom: 0rem;
}

.footnotes {
  font-size: 0.8em;
}

#influence-graph {
  overflow: scroll;
}
#influence-graph .graph-container {
  position: relative;
}
#influence-graph .graph-layout {
  position: relative;
  display: grid;
  grid-template-columns: calc(1.5rem + env(safe-area-inset-left)) [left] 1fr 2em [center] 1fr 2em [right] 1fr calc(1.5rem + env(safe-area-inset-left));
  align-items: center;
}
#influence-graph .graph-svg {
  grid-column: 1/8;
  grid-row: 1/2;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
#influence-graph .column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 12em;
  grid-row-start: 1;
}
#influence-graph .left {
  grid-column: 2;
}
#influence-graph .center {
  grid-column: 4;
}
#influence-graph .right {
  grid-column: 6;
}
#influence-graph .center .person-link img {
  width: 7rem;
}
#influence-graph .left .person-link, #influence-graph .right .person-link {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  height: 4.4rem;
}
#influence-graph .left .person-link img, #influence-graph .right .person-link img {
  width: 4rem;
}
#influence-graph .left .person-link img + span, #influence-graph .right .person-link img + span {
  padding: 0 0.5rem;
  text-align: left;
}
#influence-graph .left .person-link span:first-child, #influence-graph .right .person-link span:first-child {
  margin-left: auto;
  margin-right: auto;
}
#influence-graph .left .person-link, #influence-graph .right .person-link {
  border: 1px solid #73403c;
  padding: 0.2rem;
  border-radius: 10rem;
  gap: 0;
}

#quotes {
  font-family: Besley, Times, serif;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}
#quotes blockquote {
  font-size: 1.5em;
}
#quotes {
  max-width: calc(min(100%, 60rem) * 2 / 3);
}

.audio-player {
  margin-left: unset;
  margin-right: unset;
}

figure.image {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 30vw;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
figure.image img {
  max-height: 30vw;
  object-fit: contain;
  display: block;
}
figure.image {
  margin-left: 2em;
  margin-bottom: 2em;
  clear: right;
  float: right;
}
figure.image figcaption {
  font-size: 0.8em;
}

/*# sourceMappingURL=people.css.map */