---
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{%- include head.html -%}
{%- capture body-class -%}
    {%- if layout.body-class or page.body-class -%}
        {{- layout.body-class }} {{ page.body-class -}}
    {%- endif -%}
{%- endcapture -%}

<body class="{{ body-class }}">
{%- include header.html -%}
<main>
{{ content }}
</main>
{%- include footer.html -%}
{%- if page.end-of-body-script -%}
<script>
{%- include {{ page.end-of-body-script }} -%}
</script>
{%- endif -%}
</body>
</html>